<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="recomendaciones-container">
    <h3>Recomendaciones</h3>
    <div class="recomendaciones-cards">
      <div *ngFor="let event of recommendedEvents" class="recomendaciones-card">
        <h4>{{ event.name }}</h4>
        <p *ngIf="event.price">Precio: $ {{ event.price }}</p>
        <p class="card-text"> {{ event.city }}, {{ event.country }}</p>
        <p *ngIf="event.date"> {{ event.date }}</p>
        <a [href]="'/evento/' + event.id" class="btn-ver-mas">Ver más</a>

      </div>
    </div>
  </div>
  
</body>
</html>